name: Deploy to Firebase Functions
on:
  push:
    paths:
      - 'functions/**'
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    if: contains(github.ref, 'master')
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - name: Cache service account
        id: service_account
        run: node ./scripts/cache_file.js
        env:
          CONTENT: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_FEILDBASE }}'
      - run: 'npx firebase-tools deploy --only functions:auth.discord --project feildbase'
        env:
          FIREBASE_DEPLOY_AGENT: 'github-actions'
          GOOGLE_APPLICATION_CREDENTIALS: '${{ steps.service_account.outputs.file }}'
